.container
{
    border: 5px solid black;
    background-color: aqua; 
    
}
h1{
    color: red;
    text-decoration: underline;
}

.box{
    font-size: 24px;
    color: black;
    padding: 16px;
    text-align: center;
}
.box-1
{
    background-color: blue;
}
.box-2
{
    background-color: chartreuse;
}
.box-3
{
    background-color: brown;
}
.box-4
{
    background-color: crimson;
}
.box-5
{
    background-color: rgb(243, 144, 24);
}
.box-6
{
    background-color: cadetblue;
}
.one{
    display: flex;
}
.two
{
    display: inline-flex;
}

.three{
    display: inline-flex;
    flex-direction: row;
}
.four{
    display: inline-flex;
    flex-direction: row-reverse;
}
.five
{
    display: flex;
    flex-direction: column;
}
.six
{
    display: flex;
    flex-direction: column-reverse;
}

.seven{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.eight{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.nine,.ten{
    height: 250px;
}
.nine{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.ten{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.eleven{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.tweleve{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.thirteen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fourteen{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fifteen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sixteen
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seventeen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.eighteen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nineteen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.twenty{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.twenty-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.twenty-two
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}